html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Coda", cursive;
  background: #fff url("../img/geometry2.png");

  /* Background pattern from Subtle Patterns */
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

/*
 * Styles for the deck of cards
 */

.deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90vw;
  height: 90vw;
  margin: 0 0 3em;
  padding: 32px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border-radius: 10px;
  -webkit-box-shadow: 12px 15px 30px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 12px 15px 30px 0 rgba(46, 61, 73, 0.5);
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media screen and (orientation: landscape) {
  .deck {
    width: 70vh;
    height: 70vh;
  }
}

.deck.hide {
  visibility: hidden;
  opacity: 0;
}

.deck .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21%;
  height: 21%;
  margin: 2%;
  color: #fff;
  font-size: 0;
  background: #2e3d49;
  border-radius: 8px;
  -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 800px;
  perspective: 800px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.8s
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: -webkit-transform 0.8s
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

/* .deck .card.shuffle {
  animation-name: fadeInUp;
  animation-duration: 0.8s;
  animation-delay: 1s;
} */

.deck .card .back,
.deck .card .front {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #2e3d49;
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.deck .card .back {
  font-size: 2.4rem;
  background: #02b3e4;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* .deck .card.flipped .back {
	transform: rotateY(180deg);
    background: #02b3e4;
} */
.deck .card.match,
.deck .card.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.deck .card.flipped {
  cursor: default;
}

/* .deck .card.show {
  font-size: 33px;
} */

.deck .wobble .back {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.deck .card.mismatched .back {
  background-color: #c42d3c;
}

.deck .card.match .back {
  font-size: 33px;
  background: #02ccba;
  cursor: default;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: auto;
  max-width: 600px;
  margin-bottom: 20px;
  text-align: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

@media screen and (min-width: 500px) {
  .score-panel {
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    font-size: 1.8rem;
    text-align: center;
  }
}

.score-panel .stars {
  display: inline-block;
  margin: 0;
  margin: 0 5px 0 0;
  padding: 0;
}

.score-panel .stars li {
  display: inline-block;
  list-style: none;
}

.score-panel .stars li.hide {
  opacity: 0;
}

.score-panel .restart {
  margin: 0 20px;
  cursor: pointer;
}

.score-panel .counter,
.score-panel .timer {
  margin: 0 10px;
}

.score-panel .timer {
  margin-left: auto;
}

.clock {
  font-family: "Roboto Mono", monospace;
}

.success {
  position: absolute;
  display: none;
  background-color: transparent;
}

.success.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.success .message {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  text-align: center;
}

.success.show svg {
  display: block;
  width: 100px;
  height: 100px;
}

.success .play-again {
  padding: 1em 1.5em;
  color: #222;
  font-weight: bold;
  font-size: 1.4rem;
  background: #02ccba;
  border-radius: 6px;
  visibility: visible;
  opacity: 1;
}

.play-again.hide {
  visibility: hidden;
  opacity: 0;
}

.success .final-score {
  text-align: center;
}

.success .final-score span {
  display: block;
  margin: 0.5em auto;
  font-weight: bold;
  letter-spacing: 1.1px;
}

/* Animation effects */

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes wobble {
  from {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: rotateY(180deg) translate3d(-25%, 0, 0)
      rotate3d(0, 0, 1, -5deg);
    transform: rotateY(180deg) translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: rotateY(180deg) translate3d(20%, 0, 0)
      rotate3d(0, 0, 1, 3deg);
    transform: rotateY(180deg) translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: rotateY(180deg) translate3d(-15%, 0, 0)
      rotate3d(0, 0, 1, -3deg);
    transform: rotateY(180deg) translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: rotateY(180deg) translate3d(10%, 0, 0)
      rotate3d(0, 0, 1, 2deg);
    transform: rotateY(180deg) translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: rotateY(180deg) translate3d(-5%, 0, 0)
      rotate3d(0, 0, 1, -1deg);
    transform: rotateY(180deg) translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
  }
}

@keyframes wobble {
  from {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: rotateY(180deg) translate3d(-25%, 0, 0)
      rotate3d(0, 0, 1, -5deg);
    transform: rotateY(180deg) translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: rotateY(180deg) translate3d(20%, 0, 0)
      rotate3d(0, 0, 1, 3deg);
    transform: rotateY(180deg) translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: rotateY(180deg) translate3d(-15%, 0, 0)
      rotate3d(0, 0, 1, -3deg);
    transform: rotateY(180deg) translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: rotateY(180deg) translate3d(10%, 0, 0)
      rotate3d(0, 0, 1, 2deg);
    transform: rotateY(180deg) translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: rotateY(180deg) translate3d(-5%, 0, 0)
      rotate3d(0, 0, 1, -1deg);
    transform: rotateY(180deg) translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  30% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  30% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
}

@-webkit-keyframes rollIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -180deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rollIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -180deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
  -webkit-animation-duration: 2.3s;
  animation-duration: 2.3s;
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    opacity: 0;
  }

  60% {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    opacity: 0;
  }

  60% {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1) rotateY(180deg);
    transform: scale3d(1.25, 0.75, 1) rotateY(180deg);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1) rotateY(180deg);
    transform: scale3d(0.75, 1.25, 1) rotateY(180deg);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1) rotateY(180deg);
    transform: scale3d(1.15, 0.85, 1) rotateY(180deg);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1) rotateY(180deg);
    transform: scale3d(0.95, 1.05, 1) rotateY(180deg);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1) rotateY(180deg);
    transform: scale3d(1.05, 0.95, 1) rotateY(180deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1) rotateY(180deg);
    transform: scale3d(1.25, 0.75, 1) rotateY(180deg);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1) rotateY(180deg);
    transform: scale3d(0.75, 1.25, 1) rotateY(180deg);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1) rotateY(180deg);
    transform: scale3d(1.15, 0.85, 1) rotateY(180deg);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1) rotateY(180deg);
    transform: scale3d(0.95, 1.05, 1) rotateY(180deg);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1) rotateY(180deg);
    transform: scale3d(1.05, 0.95, 1) rotateY(180deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

svg .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

svg .path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.65s 0.35s ease-in-out;
}

svg .path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.65s ease-in-out forwards;
  animation: dash 0.9s 0.65s ease-in-out forwards;
}

svg .path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.65s ease-in-out forwards;
  animation: dash-check 0.9s 0.65s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}
