html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;

  /* Background pattern from Subtle Patterns */
  background: #fff url("../img/geometry2.png");
}

button {
  transition: all 0.2s;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.site-header {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.page-title {
  font-weight: 300;
  font-size: 2.4rem;
}

.info-button {
  position: absolute;
  right: 30px;
  align-self: flex-end;
  font-size: 2.4rem;
}

/*
 * Styles for the deck of cards
 */

.deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 600px;
  height: 90vw;
  max-height: 600px;
  margin: 0 0 3em;
  padding: 8px;
  background: linear-gradient(160deg, #bbf3ee 0%, #9cd8ef 100%);
  background-color: #9cd8ef;
  border-radius: 10px;
  -webkit-box-shadow: 12px 15px 30px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 12px 15px 30px 0 rgba(46, 61, 73, 0.5);
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.deck.hide {
  visibility: hidden;
  opacity: 0;
}

.deck .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21%;
  height: 21%;
  margin: 2%;
  color: #fff;
  font-size: 0;

  /* background: #2e3d49; */
  border-radius: 8px;
  -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 800px;
  perspective: 800px;
  cursor: auto;
  -webkit-transition: -webkit-transform 0.8s
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

/* .deck .card.shuffle {
  animation-name: fadeInUp;
  animation-duration: 0.8s;
  animation-delay: 1s;
} */

.deck .card .back,
.deck .card .front {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(46, 61, 73, 1);
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: background-color 0.3s ease;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.deck .card .back {
  font-size: 2.4rem;
  background: #02b3e4;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.deck .card.match,
.deck .card.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.deck .card.flipped {
  cursor: default;
}

/* .deck .card.show {
  font-size: 33px;
} */

.deck .wobble .back {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.deck .card.mismatched .back {
  background-color: #c42d3c;
}

.deck .card.match .back {
  background: #02ccba;
  cursor: default;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: auto;
  max-width: 600px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.score-panel button {
  background-color: transparent;
  border: 0;
}

.score-panel.hide {
  visibility: hidden;
  opacity: 0;
}

.score-panel .stars {
  display: inline-block;
  margin: auto;
  padding: 0;
  color: gold;
}

.score-panel .stars li {
  display: inline-block;
  list-style: none;
}

.score-panel .stars li.hide {
  opacity: 0;
}

.score-panel .restart {
  margin: auto;
  cursor: pointer;
}

.score-panel .counter {
  min-width: 82px;
}

.score-panel .counter,
.score-panel .timer {
  margin: auto;
}

.score-panel .timer {
  display: block;
  order: -1;
  width: 100%;
  margin: 0 auto 20px;
}

.clock {
  font-family: "Roboto Mono", monospace;
}

/* Modal Windows */
.success,
.info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgba(46, 61, 73, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;
}

.info-card,
.success-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  max-height: 600px;
  padding: 20px;
  background-color: white;
  visibility: hidden;
  opacity: 0;

  /* transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out; */
  pointer-events: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.info-card {
  background: #9cd8ef;
}

.info.show .info-card,
.success.show .success-card {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.info.show,
.success.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.info .close-info-button,
.success .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3rem;
  background: transparent;
  border: 0;
}

.info .message,
.success .message {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.info .message {
  padding: 10px;
  font-size: 1.6rem;
  text-align: left;
}

.info-title {
  font-size: 2.4rem;
}

.info ul {
  margin-left: 0;
  padding: 0;
}

.info ul > li {
  list-style-type: none;
}

.success.show svg {
  display: block;
  width: 100px;
  height: 100px;
}

.success .play-again {
  padding: 1.2em 1.8em;
  color: #222;
  font-weight: bold;
  font-size: 1.6rem;
  background: #02b3e4;
  border-radius: 6px;
  visibility: visible;
  opacity: 1;
}

.success .play-again:focus,
.success .play-again:hover {
  background: #02ccba;
}

.message-icon .fa {
  margin: auto 1rem;
  color: gold;
  font-size: 3rem;
}

.message-icon .fa-meh-o {
  color: grey;
}

.message-icon .fa-frown-o {
  color: #c00;
}

.play-again.hide {
  visibility: hidden;
  opacity: 0;
}

.success .final-score {
  text-align: center;
}

.success .final-score span {
  display: block;
  margin: 0.5em auto;
  font-weight: bold;
  letter-spacing: 1.1px;
}

@media screen and (orientation: landscape) {
  .deck {
    width: 70vh;
    height: 70vh;
  }
}

@media screen and (orientation: landscape) and (max-height: 400px) {
  .success,
  .info {
    align-items: flex-start;
  }
}

@media screen and (min-width: 500px) {
  .score-panel .counter,
  .score-panel .timer {
    margin: 0 10px;
  }

  .score-panel .timer {
    display: inline-block;
    order: 0;
    width: auto;
    margin-left: auto;
  }

  .score-panel .stars {
    margin: 0 5px 0 0;
  }

  .score-panel .restart {
    margin: 0 20px;
  }
}

@media screen and (min-width: 800px) {
  .page-title {
    font-size: 3.6rem;
  }

  .score-panel {
    -ms-flex-flow: row nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    font-size: 1.8rem;
    text-align: center;
  }

  .deck {
    padding: 32px;
  }

  .deck .card .back,
  .deck .card.match .back {
    font-size: 3rem;
  }

  .message-icon .fa {
    font-size: 5rem;
  }
}

/* Animation effects */

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes wobble {
  from {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: rotateY(180deg) translate3d(-25%, 0, 0)
      rotate3d(0, 0, 1, -5deg);
    transform: rotateY(180deg) translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: rotateY(180deg) translate3d(20%, 0, 0)
      rotate3d(0, 0, 1, 3deg);
    transform: rotateY(180deg) translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: rotateY(180deg) translate3d(-15%, 0, 0)
      rotate3d(0, 0, 1, -3deg);
    transform: rotateY(180deg) translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: rotateY(180deg) translate3d(10%, 0, 0)
      rotate3d(0, 0, 1, 2deg);
    transform: rotateY(180deg) translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: rotateY(180deg) translate3d(-5%, 0, 0)
      rotate3d(0, 0, 1, -1deg);
    transform: rotateY(180deg) translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
  }
}

@keyframes wobble {
  from {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: rotateY(180deg) translate3d(-25%, 0, 0)
      rotate3d(0, 0, 1, -5deg);
    transform: rotateY(180deg) translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: rotateY(180deg) translate3d(20%, 0, 0)
      rotate3d(0, 0, 1, 3deg);
    transform: rotateY(180deg) translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: rotateY(180deg) translate3d(-15%, 0, 0)
      rotate3d(0, 0, 1, -3deg);
    transform: rotateY(180deg) translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: rotateY(180deg) translate3d(10%, 0, 0)
      rotate3d(0, 0, 1, 2deg);
    transform: rotateY(180deg) translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: rotateY(180deg) translate3d(-5%, 0, 0)
      rotate3d(0, 0, 1, -1deg);
    transform: rotateY(180deg) translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  30% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  30% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
}

@-webkit-keyframes rollIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -180deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rollIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -180deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -180deg);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
  -webkit-animation-duration: 2.3s;
  animation-duration: 2.3s;
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    opacity: 0;
  }

  60% {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    opacity: 0;
  }

  60% {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    opacity: 1;
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1) rotateY(180deg);
    transform: scale3d(1.25, 0.75, 1) rotateY(180deg);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1) rotateY(180deg);
    transform: scale3d(0.75, 1.25, 1) rotateY(180deg);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1) rotateY(180deg);
    transform: scale3d(1.15, 0.85, 1) rotateY(180deg);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1) rotateY(180deg);
    transform: scale3d(0.95, 1.05, 1) rotateY(180deg);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1) rotateY(180deg);
    transform: scale3d(1.05, 0.95, 1) rotateY(180deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1) rotateY(180deg);
    transform: scale3d(1.25, 0.75, 1) rotateY(180deg);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1) rotateY(180deg);
    transform: scale3d(0.75, 1.25, 1) rotateY(180deg);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1) rotateY(180deg);
    transform: scale3d(1.15, 0.85, 1) rotateY(180deg);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1) rotateY(180deg);
    transform: scale3d(0.95, 1.05, 1) rotateY(180deg);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1) rotateY(180deg);
    transform: scale3d(1.05, 0.95, 1) rotateY(180deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1) rotateY(180deg);
    transform: scale3d(1, 1, 1) rotateY(180deg);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.fa-star.rubberBand {
  animation-duration: 1s;
  animation-iteration-count: 3;
}

.fa-meh-o.rubberBand {
  animation-duration: 1s;
}
